@model CreateCategoryVM

@{
    ViewData["Title"] = "Create";
}
<hr />
<div class="row">

<h1>Create</h1>

<h4>Category</h4>
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image" class="control-label"></label>
                <input asp-for="@Model.Image" class="form-control" />
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTop" /> @Html.DisplayNameFor(model => model.IsTop)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>


